body {
    font-family: 'Arial', sans-serif;
    background-image: url("Resources/Background.png");
    background-size: cover;
    position: relative;
    margin: auto;
}

.game {
    position: relative;
    height: 100%;
}

.deck {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr) ;

    grid-template-areas:
        /*     1 2 3 4 5 6 7 8 */
        /*1*/ ". . . . . . . ."
        /*2*/ ". . . . . .         . ."
        /*3*/ ". . diP diP diP diP drP ."
        /*4*/ ". . diP diP diP diP . ."
        /*5*/ ". . diP diP diP diP . ."
        /*6*/ ". . diP diP diP diP . ."
        /*7*/ ". . . . . . . ."
        /*8*/ ". . . . . . . .";

    width: 100%;
    height: 100%;
}


.players {
    position:  inherit;
}

.disk{
    position: fixed;
}

.hand {
    position: fixed;
    width: fit-content;
}

.player1 {
    position: inherit;
    display: flex;
    justify-content: center;
}

.player1 .disk{
    background: url("Resources/Disks/player1Disk.png") bottom;
    bottom: 0;
    width: 1450px;
    height: 234px;
}

.player1 .hand{
    bottom: 1vh;
}

.player2 {
    position: inherit;
    display: flex;
    justify-content: center;
}

.player2 .disk{
    background: url("Resources/Disks/player2Disk.png") top;
    top:0;
    width: 1075px;
    height: 212px;
}

.player2  .hand{
    top: 1vh;
}

.draw-pile {
    grid-area: drP;
    position: relative;
    align-items: center;
    background: rgba(255, 0, 0, 0.2);
}

.draw-pile .flipped-card{
    position:  fixed;
    box-shadow: unset;
}

.discard-pile {
    grid-area: diP;
    text-align: center;
    background: url("Resources/DiscardStage.png") no-repeat center;
    background-size: contain;
}

.card {
    display: flex;
    position: relative;
    float: left;
    margin: 5px;
    width: 92px;
    height: 126px;
    border-radius: 15px;
    border: 1px black solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}


.flipped-card {
    background-image: url("Resources/TakiPattern.png") ;
    background-size: cover;
}

.shown-card {
    background-color: #fff;
    bottom: inherit;
/*font*/
    -webkit-text-stroke: thin black;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.shown-card:hover {
    /*width: 100px;*/
    /*height: 140px;*/
    bottom: 2vh;
    transition: all 0.5s;
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
}

.shown-card .top {
    position: absolute;
    top: 5px;
    left: 5px;
}

.shown-card .middle {
    position: absolute;
    font-size: 300%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shown-card .bottom {
    position: absolute;
    top: auto;
    bottom: 5px;
    left: auto;
    right: 5px;
    transform: rotate(180deg);
}



/*


.disk img {
    position: inherit;
    left: 50%;
    bottom: 0;
}*/

/*
#exit-button
{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    background-color: #4CAF50; !* Green *!
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    diPlay: inline-block;
    font-size: 16px;
    align-items: center;

}
*/

