body
{
    font-family: 'Arial', sans-serif;
    background-image: url("Resources/Background.png");
    background-size: cover;
}

.game{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas:
        /*    1 2 3 4 5 6 7 8             9 10 11 12 */
        /*1*/". . . . . . . .             . . . . "
        /*2*/". . . . . . . .             drP drP . . "
        /*3*/". . . . . . . .             drP drP . . "
        /*4*/". . . . diP diP diP diP     drP drP . . "
        /*5*/". . . . diP diP diP diP     drP drP . . "
        /*6*/". . . . diP diP diP diP     . . . . "
        /*7*/". . . . diP diP diP diP     . . . . "
        /*8*/". . . . diP diP diP diP     . . . . "
        /*9*/". . . . diP diP diP diP     . . . . "
       /*10*/". . . . . . . .             . . . . "
       /*11*/". . . . . . . .             . . . . "
       /*12*/". . . . . . . .             . . . . ";
    height: 100%;
}


.draw-pile {
    grid-area: drP;
    /*position: absolute;
    width: 200px;
    height: 200px;
    top: 40%;
    left: 75%;
    margin: -150px 0 0 -150px;
    */
    text-align: center;
    background: rgba(255,0,0,0.2);
}

.discard-pile {
    grid-area: diP;
    /*position: absolute;
    width: 350px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    */
    text-align: center;
    background: url("Resources/DiscardStage.png") no-repeat center;
    background-size: contain;

}

.flipped-card{
    //TODO: ideal size for cards, need to make it responsive for all sizes.
    width: 184px;
    height: 252px;
    /*border-radius: 15px;*/
    /*border: 1px black solid;*/
    /*background-color: white;*/
    /*transition: all 0.5s;*/
}

.comp-player {

}

.human-player {
	
}

/*
.card {
    width: 184px;
    height: 252px;
    border-radius: 15px;
    border: 1px black solid;
    background-color: white;
    transition: all 0.5s;
}

.card:hover {
    border-radius: 50px;
    transition: all 0.5s;
}


.player {

}

.disk {
    position: absolute;
    height: 100%;
    width: 30%;
}

.disk img {
    position: inherit;
    left: 50%;
    bottom: 0;
}*/

/*
#exit-button
{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    background-color: #4CAF50; !* Green *!
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    diPlay: inline-block;
    font-size: 16px;
    align-items: center;

}
*/

